/*IGÉNYEK LISTÁJA*/
#searchID_1, #searchID_2, #searchID_3, #searchID_4, #searchID_5, #searchID_6, #searchID_7, #searchID_8, #searchID_9, #searchID_10, #searchID_11, #searchID_12, #searchID_13, #searchID_14, #searchID_15, #searchID_16, #searchID_17, #searchID_18, #searchID_19, #searchID_20, #searchID_30, #searchID_35{
    background-color: #292524;
    color: #fafaf9;
    width: 50%;
    padding: 0.25rem;
    font-size: 20px;
    text-align: center;
    margin-left: 50%;
    margin-right: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.xl743113 > pre {
	color: white;
}
.xl653113, .xl6324728 > tbody > tr {
	background-color: gray;
}

body {
	padding: 0px!important;
	overflow-x: hidden;
	background-color: #292524;
}
table {
	border: none!important;
	padding: 0px!important;
	background-color: transparent;
}
.ui-widget-content {
	border: none;
}
th {
    background-color: #292524;
    color: #fafaf9;
}
.ui-tabs-panel > table > tbody > tr:nth-child(even) > td {
	background-color: #44403c!important;
    color: #fafaf9;
}
.ui-tabs-panel > table > tbody > tr:nth-child(odd) > td {
	background-color: #78716c!important;
	color: #fafaf9;
}


#header {
	background-color: #0c0a09;
	/*background: #0c0a09 url(https://itsupport.suzuki.hu/templates/images/logo.jpg) no-repeat left;*/
	/*background: #0c0a09 url(https://assets.stickpng.com/images/580b585b2edbce24c47b2cc5.png) no-repeat;*/
	background-size: 150px 75px;
	background: #0c0a09 url(https://raw.githubusercontent.com/KriszDj2001/dark.it.supp/main/itsupport.dark-WorkInProgress/suzuki-logo-1-1.png) no-repeat;
	background-size: 150px 75px;
	background-position: bottom 15px left 65px;
}
#header > span {
	margin-left: 150px;
}
#leftMenuBarTD {
	background-color: #0c0a09;
	color: #fafaf9;
}
ul.menu li a {
	color: #fafaf9;
}
ul.menu li.selected {
    background-color: #292524;
}
ul.menu li {
    border-left: 4px solid #292524;
}
.searchbox, .searchbox::placeholder, .searchbutton {
	background-color: #292524;
	color: #fafaf9;
}
*:focus {
    outline: none;
}


.ui-tabs .ui-tabs-nav li {
	background-color: #292524;
	transition: all .2s ease-in-out;
}
.ui-tabs .ui-tabs-nav li:hover {
	background-color: #525252;
	transform: scale(1.025);
}
.ui-tabs .ui-tabs-nav li:active {
	transform: scale(0.95);
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
	background-color: #525252!important;
}
.ui-tabs .ui-tabs-nav li > a {
	color: #fafaf9;
}
#tabs {
	background-color: #0c0a09;
}


fieldset {
    color: #fafaf9;
    background-color: #1c1917;
    border: 1px dotted #fafaf9;
    border-width: 1px;
    border-style: solid;
    border-color: #fafaf9;
}
fieldset > legend {
	color: #fafaf9!important;
}
.notifiers {
    background: #292524;
    border: 1px solid #fafaf9;
}
.notifiers > a {
	color: #fafaf9;
}

#wrapper > table {
	min-height: 100vh;
}
#wrapper > table > tbody > tr {
	background-color: #0c0a09;
	color: #fafaf9;
}


#filterform{
	color: #fafaf9;
}



  * {
    scrollbar-width: auto;
    scrollbar-color: #292524 #78716c;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background: #292524;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #78716c;
    border-radius: 16px;
    border: 3px solid #292524;
  }
 
/*ELFOGADOTT IGÉNY ALOLDAL*/
#tabs-1 > *, #tabs-1, #tabs-1 > table > tbody > tr > td > *,
.notifiers {
	color: #fafaf9!important;
}
#tabs-1 > table > tbody > tr > td > fieldset >input {
	background-color: #292524;
	color: #fafaf9!important;
}
#tabs-1 > table > tbody > tr > td:nth-child(2) > table > tbody > tr {
	background-color: #292524;
	color: #fafaf9!important;
}
#newcomment > form > textarea, #newcomment > form > #buttonfield > input {
	background-color: #292524;
	color: #fafaf9!important;
}
/*#tabs-1 > table >tbody > tr > td {background-color: transparent!important;}*/



  
/*ÚJ IGÉNY*/
#manual_div_2 {
	color: #fafaf9;
}
#wrapper > table > tbody > tr > td:nth-child(2) > fieldset > table {
	background-color: #1c1917!important;
}
#newticketform {
	color: #fafaf9;
}
#newticketform > input {
	background-color: #292524;
	color: #fafaf9;
}
#newticketform > input:nth-last-child(2) {
	background-color: #ff0000;
}
#newticketform > input:nth-last-child(1) {
	background-color: #00ff00;
}
#newticketform > input:nth-last-child(2), #newticketform > input:nth-last-child(1) {
	color: #000000;
	font-weight: bold;
	padding: 0.5em;
	height: auto!important;
	font-size: 16px;
}
#newticketform > select {
	background-color: #f59e0b;
}
#t3 {
	background-color: #292524;
}

/*PORTA KI-BE*/
#swform {
	background-color: #292524;
	color: #fafaf9;
}
#swform > input {
	background-color: #292524;
	color: #fafaf9;
}
#ui-datepicker-div {
	background-color: #44403c;
}
.ui-datepicker-calendar {
	background-color: #292524;
}
.hoverTable > tbody > tr:nth-child(even) > td {
	background-color: #44403c!important;
    color: #fafaf9;
}
.hoverTable > tbody > tr:nth-child(odd) > td {
	background-color: #78716c!important;
	color: #fafaf9;
}


/*LESZÁMOLÓK-ROT*/
#ltabs {
	background-color: #0c0a09;
}

/*TUDÁSBÁZIS*/
#ktabs {
	background-color: #0c0a09;
}

/*HEADER TAG*/
#headerTag {
	color: #fafaf9;
	margin: 0;
	text-align: right;
	padding-top: 85px;
	padding-right: 15px;
	z-index: 9999;
}

/*Cron*/
#CronTable_length, #CronTable_filter, #CronTable_info {
	color: #fafaf9;
}

#CronTable_paginate > *{
	color: #fafaf9!important;
	background-color: #44403c;
}

#CronTable > tbody > tr:nth-child(even) > td {
	background-color: #44403c!important;
    color: #fafaf9;
}
#CronTable > tbody > tr:nth-child(odd) > td {
	background-color: #78716c!important;
	color: #fafaf9;
}
#CronTable > thead > tr > th {
    background-color: #292524;
    color: #fafaf9;
}
